#gemencrol{
    height: 70%;
    width: 100%;
}

#magunkrol{
    height: 100%;
    width: 100%;
    margin-left: 50%;
}

.szoveg{
    background-color: #048A81;
    font-size: 200%;
    padding-left: 3%;
}

#kep{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    margin-top: 8vh;
}

#kiket_varunk{
    padding: 5%;
    text-align: center;
    height: 15%;
    width: 75%;
    margin: 0 auto;
    font-size: 150%;
    background-color: #048A81;
}