#szarvas_kep, #gasztro_kep{
    width: 50%;
    height: auto;
}

h2 + a{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: large;
    background-color: #048A81;
}

a + a{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: large;
    background-color: #048A81;
}

aside h2{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 15%;
}

#milyen_utvonal{
    padding-top: 5%;
    font-size: 200%;
    height: 3%;
}

#milyen_utvonal_leiras{
    height: 4%;
    font-size: 200%;
    padding: 2% 2% 2% 2%;
    margin-bottom: 10%;
}

.bev_szov{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #048A81;
    width: 50%;
}


.nagy_link{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 15%;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
}