#erdemes{
    text-align: center;
    background-color: #048A81;
    margin: 5vh auto;
    padding: 1%;
}

#naptej_kep{
    width: 50%;
    margin: 2vh auto;
}

#naptej{
    width: 75%;
    height: auto;
    background-color: #048A81;
    text-align: center;
    margin: 2vh auto;
    font-size: 150%;
}

#riaszto {
    width: 40%;
    height: auto;
    background-color: #048A81;
    text-align: center;
    margin: auto auto;
    font-size: 150%;
}

#riaszto_kep{
    width: 50%;
    height: 60%;
    margin: auto auto;
}

#jelentkezes{
    margin: 1vh auto 5vh auto;
}