/* Universal CSS for the website */
.div1{
    background-image: url(images/udvozlo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.div1 > li {
    float: left;
}

.div1 > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* Header */

header{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
}

.kedvenc_logo {
    border: 1px solid #ffffff;
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: #034F4Bcc;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.header-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
}


.navTarto{
    float: left;
    margin: 3vh 1vw;
    padding: 17px 25px;
    width: 12vw;
    height: 0.1vh;
    background-color: #034F4Bcc;
    border: 1px solid #ffffff;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#udvozlo
{
    width: 100%;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #023B38;
    scroll-behavior: smooth;
}

/* Filterek */

/*a + a{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-decoration: none;
    padding: 5%;
    color: white;
    font-size: large;
    background-color: #048A81;
}*/

#filterek > div > a {

}

aside h2{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 15%;
}

#bevezeto{
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #048A81;
    width: 50%;
    text-align: center;
}

/* Main section */

.osszefogo{
    position: relative;
    /*margin: 5vh 1vw; */
    margin: 20px 0px 20px 0px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.osszefogo > div {
    margin-bottom: auto;
    margin-left: 50%;
    padding: 25px;
    z-index:5;
}

.osszefogo > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.szoveg{
    text-align: center;
    background: rgb(4,138,129);
    background: linear-gradient(0deg, rgba(4, 138, 129, 0.8) 0%, rgb(0, 198, 185, 0.8) 100%);
    font-size: large;
    padding: 20px;
}

.osszefogoMiddler{
    margin: 2vh auto;
}

p.osszefogoMiddler{
    width: 75%;
    height: 5%;
    padding: 1%;
    background: rgb(4,138,129);
    background: linear-gradient(45deg, rgb(0, 33, 31) 0%, rgb(9, 100, 94) 100%);
    color: rgb(111, 254, 223);
}

#jelentkezes{
    position: relative;
    text-align: center;
    background-color: #048A81;
    margin: 0 auto;
    padding: 5%;
    font-size: 200%;
}
.div2{
    display: flex;
    flex-wrap:wrap;
}

#filterek{
    background-color: #034F4B;
    height: auto;
    width: 20%;
    color: white;
}

.div4{
    width: 80%;
}

#bevezeto{
    padding: 1%;
    margin: 8vh auto;
    background-color: #048A81;
    width: 50%;
    height: auto;
    text-align: center;
}

.nagy_link{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
}

.kis_link {
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5%;
    color: white;
    font-size: large;
    background-color: #048A81;
}

.keressen {
    width: 100%;
    background-color: #048A81;
    text-align: center;
    color: white;
    padding: 0px;
}

.keresen_belso {
    padding: 10px;
    font-size: large;
}

a, a:link {
    text-decoration: none;
    color: white;
}

.keresen_belso>p>a, .keresen_belso>p>a:link {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.bev_szov {
    padding: 10px;
    color: white;
    text-align: center;
}


/* Footer */
footer{
    height: 20vh;
    width: 100%;
    background: rgb(4,138,129);
    background: linear-gradient(145deg, rgba(4,138,129,1) 0%, rgba(0,83,77,1) 100%);
}

footer p{
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 5% 0;
}

#kapcsolatfelvetel{
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    color: white;
}

#kapcsolatfelvetel > div{
    background-color: rgba(3, 79, 75, 0.5);
    padding: 5%;
}

.telefon_button {
    background-color: #023B38;
    padding: 20px;
    font-size: x-large;
    border: none;
    border-radius: 25px; /* Makes the button rounded */
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.telefon_button:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}


/* Hamburger menu button */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    z-index: 1001;
}
.hamburger span {
    height: 4px;
    width: 100%;
    background: #fff;
    margin: 3px 0;
    border-radius: 2px;
    display: block;
    transition: 0.3s;
}

/* Navigation for desktop */
.headerNav {
    display: flex;
    align-items: center;
}

/* Hamburger menu for mobile */
@media only screen and (max-width: 900px) {
    .headerNav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 84px;
        left: 0;
        width: 100vw;
        background: linear-gradient(0deg, rgba(4, 138, 129, 0.8) 0%, rgb(0, 198, 185, 0.8) 100%);
        z-index: 1000;
        padding-bottom: 20px;
        border-bottom: 2px solid #ffffff;
    }
    .headerNav.active {
        display: flex;
        margin-top: 40px;
    }
    .hamburger {
        display: flex;
        float: right;
        margin-top: 50px;
        margin-right: 20px;
    }
    header {
        position: fixed;
        top:0px;
        z-index: 1000;
        height: 120px;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        border-bottom: 5px solid #ffffff;
    }
    .navTarto {
        float: none;
        width: 90vw;
        margin: 10px auto;
        padding: 17px 0;
        text-align: center;
    }

    .osszefogo > div {
        margin-left: 0%;
        padding: 25px;
        z-index:5;
    }

    #filterek{
        background-color: #034F4B;
        height: auto;
        width: 100%;
        color: white;
        order:2;
    }

    .div4{
        width: 100%;
    }

    .div2 {
        order:1;
        z-index: 1;
    }

    .keressen {
        width: 100%;
        background-color: #048A81;
        text-align: center;
        color: white;
        padding: 0px;
        margin-top: 120px;
    }

    .kedvenc_logo {
        border: 1px solid #ffffff;
        float: left;
        margin: 10px;
        padding: 10px;
        background-color: #034F4Bcc;
    }
}
